/* local styling */

/* hide things for Challenge only mode */
.project-add-idea, .challenge-banner, .challenge-checkbox {
    display: none;
    }

/* general settings */

.current_banner_list_item, .past_banner_list_item, .idea-banner, .visible {
    background: rgba(255,255,255,0.65);
    }

.challenge-info p.challenge-entry-content {
    font-size: 150%;
    padding: 1ex;
    }

a {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #2c3c4c;
    }
body {
    /* background: url('/static/local_style/img/full.jpg'); */
    background-position: top right;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    }
h2.section a {
    text-shadow: #fff 0 0 4px;
    color: #234;
    font-weight: bold;
    border-bottom: none;
    }
.Xproject-header .info {
    text-shadow: #000 0 0 2px, #000 0 0 3px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    }
.project-title a, .project-title:before {
    color: white;
    }
h1 {
    text-shadow: #fff 0 0 2px, #fff 0 0 3px;
    }
.project-add label {
    text-shadow: #fff 0 0 2px, #fff 0 0 3px;
    font-weight: bold;
    }
.project-add .help_text {
    visibility: visible;
    text-shadow: #fff 0 0 2px, #fff 0 0 3px;
    color: #234;
    font-weight: bold;
    }
.username {
    text-shadow: #fff 0 0 4px, white 0 0 2px;
    font-family: sans-serif;
    color: black;
    }
ul.section-nav li.active a {
    background: #2c3c4c;
    }
input[type=submit], .btn-huge {
    background: #2c5c3c;
    }
.idea-votes.left {
    float: right;
    }
    
